## Loops or Control Statements or Iterations

- Loop: It is a sequence of instructions they are repeating as long as the condition false
- for loop
- while loop
- nested for loop
- nested while loop

- for loop
     - which is used to iterate or repeated particular task or statements into multiple times
     - range is known
     - for loop Syntax
         - for variable in a range(start, end, step):
               statements
         
         - for(initi,condition,inc/dec) C language

- range(start, end, step)

- range(argument)
    - 0 start and step =1
- range(arg1,arg2)
    - arg1 = start and arg2 = end
- range(arg1,arg2,arg3)
    - arg1 = start, arg2 = end and arg3 = step

In [2]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [3]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
for j in range(1,11):
    print(j, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
for k in range(10,0,-1):
    print(k,end=' ')

10 9 8 7 6 5 4 3 2 1

In [18]:
## print even numbers and odd number in a given range

sr = int(input())
er = int(input())
e_sum = o_sum = 0
print('Even numbers are: ')
for i in range(sr,er+1):
    if i % 2 == 0:
        print(i,end=' ')
        e_sum = e_sum + i 
print('\neven sum is :',e_sum)
print('\nOdd numbers are: ')
for i in range(sr,er+1):
    if i % 2 != 0:
        print(i,end=' ')
        o_sum += i ## o_sum = o_sum+i
print('\nOdd sum is:',o_sum)

1
10
Even numbers are:
2 4 6 8 10
even sum is : 30

Odd numbers are:
1 3 5 7 9
Odd sum is: 25

In [ ]:
## table
## 4 * 1 = 4
## 4 * 2 = 8
## 4 * 3 = 12
## 4 * 4 = 16
--
--
## 4 * 10 = 40

In [20]:
n = int(input())
for i in range(1,11):
    print(n,'*',i,'=',n*i)

89
89 * 1 = 89
89 * 2 = 178
89 * 3 = 267
89 * 4 = 356
89 * 5 = 445
89 * 6 = 534
89 * 7 = 623
89 * 8 = 712
89 * 9 = 801
89 * 10 = 890

In [23]:
### factors for given number

n = int(input('enter number:'))
for i in range(1,n+1):
    if n %i == 0:
        print(i,end = ' ')

enter number:25
1 5

In [25]:
## factorial

y = int(input())
f = 1
for i in range(1,y+1):
    f = f*i
print('Factorial is:',f)

4
Factorial is: 24

In [28]:
## Prime number

t = int(input())
fc = 0
for i in range(1,t+1):
    if t % i == 0:
        fc += 1 ## fc = fc+1
if fc == 2:
    print("It is a Prime number")
else:
    print('It is not Prime number')

5
It is a Prime number

In [31]:
## Perfect number


f = int(input())
f_sum = 0
for j in range(1,f):
    if f%j == 0:
        f_sum += j
if f_sum == f:
    print('Perfect')
else:
    print('Not perfect')

28
Perfect

## While loop

- Which is used to iterate particular task or statements into multiple times
- range is unknown

- while loop Syntax

   initialization
   while(condition):
       statements
       inc/dec

In [33]:
## 1-- 10

i = 1
while(i<=10):
    print(i,end=' ')
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [34]:
i = 10
while(i>=1):
    print(i,end=' ')
    i = i-1

10 9 8 7 6 5 4 3 2 1

In [48]:
## Number of digits in a given number 
## 123
## 3

h = int(input())
c = 0
while h!=0:
    h = h//10
    c += 1
print(c)

3457324875
10

In [38]:
a = 45
b = 6

In [39]:
a/b

7.5

In [40]:
a//b

7

In [41]:
a%b

3

In [42]:
123//10

12

In [43]:
12//10

1

In [46]:
1//10

0

In [51]:
## Number of character in a given name

s = input()
c = 0
for i in s:
    c = c+1
print(c)

apssdc
6

In [53]:
r = input()
len(r)

Srinadh

7

In [55]:
## Reverse of the given number
## input: 123
## outpu: 321

n = int(input())
rev = 0
while n!=0:
    rem = n%10
    rev = rev*10+rem
    n = n//10
print(rev)

9984352
2534899

In [57]:
### Palindrom
## 121
## 121

n = int(input())
t = n
rev = 0
while n!=0:
    rem = n%10
    rev = rev*10+rem
    n = n//10
if t == rev:
    print('Palindrom')
else:
    print('Not Palindrom')

123
Not Palindrom

## Task

- Armstrong

## nested for loop

- Syntax:

 for variable in range(start,end,step):
     for variable in range(start, end, step):
         statements

In [59]:
## Prime number series
## 1  -- 10
## 2 3 5 7

s = int(input())
e = int(input())
for i in range(s,e+1):
    fc = 0
    for j in range(1,i+1):
        if i%j == 0:
            fc += 1
    if fc == 2:
        print(i,end=' ')

4
23
5 7 11 13 17 19 23

- Task
    - Print perfects series

In [ ]:
Square pattern

# # # #
# # # #
# # # #
# # # #

In [62]:
for i in range(1,5):
    for j in range(1,5):
        print('#',end=' ')
    print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
11 12 13 14
21 22 23 24
31 32 33 34
41 42 43 44

### nested while

- Syntax:
   
   initialization
   while(condition):
       statements 
       initialization
       while(condition):
           stattements
           inc/dec
       inc/dec

In [63]:
## print 1 to 10 tables
## 1 2 3 4 5
## 2 4 6 8 10

i = 1
while(i<=10):
    j = 1
    while(j<=10):
        print(i*j,end=' ')
        j += 1
    print()
    i +=1

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## Jump Statements

- Break
    - it will skip all iterations when the control reaches the break
- Continue
    - it skips only current iteration

In [66]:
for i in range(9):
    if i == 5:
        break
    else:
        print(i)

0
1
2
3
4

In [67]:
for i in range(9):
    if i == 5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8