### Functions
- Set of instructions to do a particular task
#### Types of Functions
- Pre defined functions
    - print(),dir,range,input,int,float,len,type,min,max,abs,chr,ord,sum
- User defined functions

In [1]:
k = "This is a string"
min(k)

' '

In [2]:
max(k)

't'

In [4]:
i = "12345abcde"
min(i)

'1'

In [5]:
j = -98
abs(j)

98

In [11]:
j = 1234
min(j)

TypeError: 'int' object is not iterable

In [12]:
chr(97)

'a'

In [13]:
chr(32)

' '

In [14]:
chr(65)

'A'

In [15]:
ord('P')

80

In [16]:
ord("a")

97

In [17]:
ord("1")

49

In [18]:
li = [1,2,3,4,5]
sum(li)

15

In [ ]:
# function syntax
def function_name(arguments):
    statements
    
function_name(arguments)

In [22]:
def sample(name):
    print("good evening "+name)
    
sample("Poojitha")

good evening Poojitha

In [21]:
name = input("enter name")
sample(name)

enter nameapssdc
good eveningapssdc

In [23]:
sample(input("enter name"))

enter namehi
good evening hi

#### Types of user defined functions
- Required arguments
- Keyword arguments
- default arguments
- variable length arguments

In [27]:
# required arguments
def add(a,b):
    print(a+b)
    return a+b
    print("it will not print")

add(12,14)

26

26

In [29]:
# keyword arguments
def example(a,b,c):
    print(a)
    print(b,c)
    
example(b=1,a=2,c=3)

2
1 3

In [30]:
def args(a=1,b="python",c=67.89,d="sdfghj"):
    print(a,b)
    print(c,d)

In [31]:
args(1,2,3)

1 2
3 sdfghj

In [32]:
args("hi")

hi python
67.89 sdfghj

In [33]:
args()

1 python
67.89 sdfghj

In [34]:
args(1,2,3,4)

1 2
3 4

In [38]:
def varargs(a,b,c,*d):
    print(a,b,c)
    print(d)
    #print(e)
    
varargs(1,2,3,4,5,6,7,8,9,0,34,56,7,23)

1 2 3
(4, 5, 6, 7, 8, 9, 0, 34, 56, 7, 23)

In [39]:
def sub(a,b):
    print(a-b)
    
def mul(a,b):
    print(a*b)
    
def div(a,b):
    print(a/b)
    
sub(67,8)
a = int(input("enter"))
b = int(input("enter"))
mul(a,b)

59
enter3
enter4
12

In [ ]:
[]
()
{}

#### Lists
- list is a collection of mutiple data
- enclosed by brackets with comma seperated values
- mutable
##### operations
- concatenation
- replication
- membership test
##### methods
- append(),extend(),insert(),copy(),clear(),pop(),remove()

In [40]:
li = []
type(li)

list

In [41]:
li = [1,2,3,4]

In [42]:
li

[1, 2, 3, 4]

In [43]:
k = ["98","python"]
li + k

[1, 2, 3, 4, '98', 'python']

In [44]:
li * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [45]:
4 in k

False

In [46]:
4 in li

True

In [47]:
67 in li

False

In [48]:
67  is not li

True

In [103]:
h = [1,2,"python",89]
h.append(78.12)

In [50]:
h

[1, 2, 'python', 89, 78.12]

In [104]:
h.append(li)

In [52]:
h

[1, 2, 'python', 89, 78.12, [1, 2, 3, 4]]

In [108]:
h[5].insert(1,"program")

In [109]:
h

[1, 2, 'python', 89, 78.12, [1, 'program', 2, 'programming', 3, 4]]

In [53]:
h[2]

'python'

In [55]:
h[5][0]

1

In [56]:
h[5][3]

4

In [58]:
h.extend("12")

In [59]:
h

[1, 2, 'python', 89, 78.12, [1, 2, 3, 4], '1', '2']

In [60]:
h.extend(k)

In [61]:
h

[1, 2, 'python', 89, 78.12, [1, 2, 3, 4], '1', '2', '98', 'python']

In [64]:
h.insert(3,45)

In [65]:
h

[1, 2, 'python', 45, 89, 78.12, [1, 2, 3, 4], '1', '2', '98', 'python', 45]

In [66]:
c = h
c

[1, 2, 'python', 45, 89, 78.12, [1, 2, 3, 4], '1', '2', '98', 'python', 45]

In [67]:
c.clear()

In [68]:
c

[]

In [69]:
h

[]

In [70]:
v = k.copy()

In [71]:
v

['98', 'python']

In [72]:
v.append(34)

In [73]:
v

['98', 'python', 34]

In [75]:
v.clear()

In [76]:
v

[]

In [77]:
k

['98', 'python']

In [78]:
j = [1,34,67,987,"python","online"]
j.pop()

'online'

In [79]:
j.pop(2)

67

In [80]:
j.remove("python")

In [81]:
j

[1, 34, 987]

In [82]:
j.remove(34)

In [83]:
j

[1, 987]

In [93]:
c = [1,2,3,1,2,1,2,3]
c.count(3)

2

In [86]:
c.count(1)

3

In [87]:
c.index(1)

0

In [88]:
j.index(987)

1

In [89]:
c.reverse()

In [90]:
c

[3, 2, 1, 2, 1, 3, 2, 1]

In [91]:
c[::-1]

[1, 2, 3, 1, 2, 1, 2, 3]

In [94]:
c

[1, 2, 3, 1, 2, 1, 2, 3]

In [95]:
c.sort()

In [96]:
c

[1, 1, 1, 2, 2, 2, 3, 3]

In [97]:
c.sort(reverse = True)

In [98]:
c

[3, 3, 2, 2, 2, 1, 1, 1]

In [99]:
n = [1,2,3,"python",78.456,"online",678]
n[3:6]

['python', 78.456, 'online']

In [100]:
n[-2:-5]

[]

In [102]:
n[-5:-1]

[3, 'python', 78.456, 'online']

In [ ]:
# 1
# to find the factorial of aa number
# 2
# to check whether a number or string is palindrome or not
# 3
# to check a number is prime or not